[user]
	name = billy4479
	email = giachi.ellero@gmail.com
	signingkey = 8B13408B75BAB9B9
[hub]
	protocol = ssh
[init]
	defaultBranch = master
[pull]
    rebase = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
