[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/alacritty/themes/catppuccin"]
	path = .config/alacritty/themes/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "src/catppuccin/kde"]
	path = src/catppuccin/kde
	url = https://github.com/catppuccin/kde
[submodule "src/catppuccin/qt5ct"]
	path = src/catppuccin/qt5ct
	url = https://github.com/catppuccin/qt5ct
