[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/alacritty/themes/catppuccin"]
	path = .config/alacritty/themes/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "src/catppuccin/kde"]
	path = src/catppuccin/kde
	url = https://github.com/catppuccin/kde
[submodule "src/catppuccin/qt5ct"]
	path = src/catppuccin/qt5ct
	url = https://github.com/catppuccin/qt5ct
[submodule "src/catppuccin/btop"]
	path = src/catppuccin/btop
	url = https://github.com/catppuccin/btop
[submodule "src/catppuccin/joplin"]
	path = src/catppuccin/joplin
	url = https://github.com/billy4479/joplin.git
[submodule "src/catppuccin/st"]
	path = src/catppuccin/st
	url = https://github.com/catppuccin/st
[submodule "src/catppuccin/helix"]
	path = src/catppuccin/helix
	url = https://github.com/catppuccin/helix
[submodule "src/catppuccin/cursors"]
	path = src/catppuccin/cursors
	url = https://github.com/catppuccin/cursors
[submodule "src/yay"]
	path = src/yay
	url = https://aur.archlinux.org/yay.git
[submodule "src/Firefox-UI-Fix"]
	path = src/Firefox-UI-Fix
	url = https://github.com/black7375/Firefox-UI-Fix
[submodule "src/catppuccin/waybar"]
	path = src/catppuccin/waybar
	url = https://github.com/catppuccin/waybar
[submodule "src/catppuccin/hyprland"]
	path = src/catppuccin/hyprland
	url = https://github.com/catppuccin/hyprland
[submodule "src/AstroNvim"]
	path = src/AstroNvim
	url = https://github.com/AstroNvim/AstroNvim.git
[submodule "src/catppuccin/heroic"]
	path = src/catppuccin/heroic
	url = https://github.com/catppuccin/heroic.git
[submodule "src/konsole"]
	path = src/catppuccin/konsole
	url = https://github.com/catppuccin/konsole.git
[submodule "src/catppuccin/zathura"]
	path = src/catppuccin/zathura
	url = https://github.com/catppuccin/zathura.git
